.cvwrapper {
    display: flex;

}


.details,
.display {
    margin: 1em;

}

.details {
    flex: 1;
}

.display {
    flex: 3;
    border: 0.1em red solid;

}

.heading {

    display: flex;
    justify-content: center;
}